* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 32px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  max-height: 500px;
  padding: 32px;
  box-sizing: border-box;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  box-sizing: border-box;
  max-height: 80%;
  max-width: 100%;
  border-top: 1px solid hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px;
  margin-left: -8px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
